
<p style="margin-bottom: 5%;">Hey, {{name}} — click on the below button to login:</p>


<a href="{{host}}/auth/magic?token={{token}}&redirectUrl={{redirectUrl}}"><button style="background: rgb(0, 0, 0); color: white; padding: 8px 18px; border: none; font-size: 16px;  margin: 0px;  line-height: 16px !important; border-radius: 4px; cursor: pointer;">Login</button></a>

<p style="margin-top: 5%;margin-bottom:3%">Keep marching!</p>

<p>Best,<br>
Marchbot</p>